@page "/create"
@using CarvedRock_BlazorServer.Data

<h4>Add a product</h4>
<EditForm Model="newProduct" OnValidSubmit="CreateProduct">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row mb-2 form-group">
        <div class="col-3">
            <label>@nameof(newProduct.Name)</label>
        </div>
        <div class="col-9">
            <InputText class="form-control" type="text" @bind-Value="newProduct.Name" />
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label>@nameof(newProduct.Price)</label>
        </div>
        <div class="col-9">
            <InputNumber class="form-control" type="text" @bind-Value="newProduct.Price" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</EditForm>
