@inherits LayoutComponentBase

<div class="page">
    <div class="container">
        <header class="row">
            <div class="col-md-5 mb-4">
                <img height="150" src="/Images/carved-rock-logo.png" alt="logo" />
            </div>
            <div class="col-md-7 mt-5">
                For outdoorsy types
            </div>
        </header>
        @Body
    </div>
</div>
