@page
@using CarvedRock_RazorPages.Data
@model IndexModel

<div class="row">
    <h4 class="mb-3 ml-5">Today's specials:</h4>
</div>

@foreach (var product in Model.Products)
{
    <div class="row mb-4">
        <div class="col-2 text-center"><img height="80" 
            src="Images/@product.PhotoFileName" alt="Product image" /></div>
        <div class="col-2 my-auto">@product.Name</div>
        <div class="col-2 my-auto">$@product.Price</div>
        <div class="col-2 my-auto">@product.Stock in stock</div>
    </div>
}

<div class="row">
    <div class="ml-5 mt-3">
        <a asp-page="Create">New product</a>
    </div>
</div>