@inherits LayoutComponentBase

<div class="page">
    <div class="container">
        <header class="row">
            <div class="col-md-5 mb-4">
                <Logo Height="150"/>
            </div>
            <div class="col-md-7 mt-5">
                For outdoorsy types
            </div>
        </header>
        @Body
    </div>
</div>
